In [28]:
print ("Lina's Day 1 Exercises")

Lina's Day 1 Exercises

In [21]:
#Complete the code to print out Hello Python! in a formatted string.

message = "Python"
Greeting = "Hello"
message_format = "{}Python{}"
print(Greeting + message_format.format( " ","!"))

Hello Python!

In [22]:
"""
Correct the following code to:
Perform the arithmetic operation on a and b.
Perform concatenation on a and b.
"""
a = 5
b = "10"

# perform addition expected output is 15
addition = a + int(b)
print(addition)

# perform concatenation expected output is 510
concatenation = str(a) + b
print(concatenation)

15
510

In [23]:
#Complete the code to extract and print out the domain name from the email address.


email = "python_dev@estarta.com"

# extract domain from email
domain = email.find('@')
print(email[domain:])

#or

domain = email.split('@')
print (domain[1])

@estarta.com
estarta.com

In [24]:
#Perform the following operations on the "Cars" list:
#Add "Honda" to the list.
cars = ["Toyota", "Mercedes", "BMW", "Jeep"]
cars.append("Honda")
print (cars)


##Replace the second element with "Ford"
cars[1]="Ford"
print(cars)

#Remove "Toyota" from the list.
cars.remove("Toyota")
print(cars)

#Check if "Subaru" is in the list
print("Subaru"in cars)

['Toyota', 'Mercedes', 'BMW', 'Jeep', 'Honda']
['Toyota', 'Ford', 'BMW', 'Jeep', 'Honda']
['Ford', 'BMW', 'Jeep', 'Honda']
False

In [25]:
"""
Create a new dictionary with the following key-value pairs: "name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"
Add a new key-value pair with "city": "Amman"
Update the occupation to "Surgeon"
Remove the "country" key-value pair from the dictionary.
print out the updated dictionary.
"""

person = {"name": "Ahmad", "age": 25, "occupation": "doctor", "country": "Jordan"}
print(person)

#Add a new key-value pair with "city": "Amman"
person["city"]="Amman"
print(person)

#Update the occupation to "Surgeon"
person["occupation"]="Surgeon"
print(person)

#Remove the "country" key-value pair from the dictionary.
del person["country"]
print(person)

#print out the updated dictionary.
print(person)

{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'doctor', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'country': 'Jordan', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}
{'name': 'Ahmad', 'age': 25, 'occupation': 'Surgeon', 'city': 'Amman'}

In [26]:
#Complete the folowing opertasions on the "numbers" set:

numbers = {2, 5, 16, 8, 7, 9, 3, 1}
#Check if 4 is in the set.
print(4 in numbers)

#Add 5 to the set. (it will not be added as its already in the set)
numbers.add(5)
print(numbers)

#Remove 3 from the set.
numbers.remove(3)
print(numbers)


#Try to add a duplicate element to the set
#"set don't accept duplicate valutes, we can convert it to list and add duplucate, or add the duplucate as a different valrialbe type as string"

numbers= list(numbers)
numbers.append(5)
print(numbers)
numbers= set(numbers)
#or
numbers1= list(numbers)
numbers1.append("5")
print(set(numbers1))


#Create a new set that contains numbers from in the range of m+1 to m+10, where m is the maximum number in the "numbers" set.

#1.convert the set to list to get an indexed ordered list , the maximum value will be the value stored in index -1
numbers2=list(numbers)
print(numbers2)
M=numbers2[-1]
print(M)

#2.create a range using the M value contains numebrs from M+1 to M+10  (If we want the M+10 to be included we need to set the range to M+11 )
New_Numbers= range(M+1,M+10)
print(New_Numbers)

#3.Convert the range to set 
New_Numbers=set(New_Numbers)


#Create a set that is the union of the two sets
Union_set=numbers.union(New_Numbers)

#print the union of the two sets
print(Union_set)

#print(new_set)
print(New_Numbers)

False
{1, 2, 3, 5, 7, 8, 9, 16}
{1, 2, 5, 7, 8, 9, 16}
[1, 2, 5, 7, 8, 9, 16, 5]
{1, 2, 5, 7, 8, 9, '5', 16}
[1, 2, 5, 7, 8, 9, 16]
16
range(17, 26)
{1, 2, 5, 7, 8, 9, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
{17, 18, 19, 20, 21, 22, 23, 24, 25}

In [27]:
print ("Thank You!")

Thank You!